@charset "utf-8";
body {
    font-size: 14px;
    background: #f7f7f7;
}
:root{
    --color-primary: #17ba9b;
    --color-primary-light: #0da88a;
    --color-blue: #00a0e9;
}

.o-hidden {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@font-face{
    font-family: 'code128';
    src: url('../fonts/code128.ttf');
    font-weight: normal;
    font-style: normal;
}


html,
body,
#app {
    width: 100%;
    height: 100%;
}

#app {
    display: flex;
}

.mod-wrapper {
    flex: 1;
    display: flex;
    margin: 0 auto;
}

::-webkit-input-placeholder {
    font-size: 14px;
    color: #999;
}

:-moz-placeholder {
    font-size: 14px;
    color: #999;
}

::-moz-placeholder {
    font-size: 14px;
    color: #999;
}

:-ms-input-placeholder {
    font-size: 14px;
    color: #999;
}

.clearfix {
    display: block;
    zoom: 1;
}

.clearfix:after {
    content: "";
    font-size: 0;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.el-main-content .el-table{
    border-spacing: 0;
}
.el-main-content .el-table td,
.el-main-content .el-table th.is-leaf {
    border-bottom: 1px solid #000;
}
.el-main-content .el-table--border,
.el-main-content .el-table--group{
    border: 1px solid #000;
}
.el-main-content .el-table--border td,
.el-main-content .el-table--border th,
.el-main-content .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
    border-right: 1px solid #000;
}
.el-main-content .el-table  .has-gutter th,
.el-main-content .el-table  .has-gutter tr{
    background: #13b5b1;
}
.el-main-content .el-table td,
.el-main-content .el-table th{
    color: #000;
    text-align: center;
}

.c-green{
    color: #009944;
}
.c-red{
    color: #d62e42;
}
.c-blue{
    color: #00a0e9;
}
.m-form .el-button.d-import-btn{
    background: #a0a0a0;
    border-color: #a0a0a0;
}
.m-form .el-button.d-import-btn:focus,
.m-form .el-button.d-import-btn:hover{
    background: #999;
    border-color: #999;
}
.m-form .el-button.d-choose-file{
    color: #333;
    background: transparent;
    border-color: transparent;
}
.m-form .el-button.d-choose-file:focus,
.m-form .el-button.d-choose-file:hover{
    color: #333;
    border-color: transparent;
    background-color: transparent;
}
.m-form .el-input.is-active .el-input__inner,
.m-form .el-input__inner:focus,
.m-form .el-checkbox__input.is-focus .el-checkbox__inner{
    border-color: var(--color-primary);
}
.m-form .el-button--primary{
    width: 120px;
    background: var(--color-primary);
    border-color: var(--color-primary);
}
.m-form .el-button--default{
    width: 120px;
}
.m-form .el-button--primary:focus,
.m-form .el-button--primary:hover{
    background: var(--color-primary-light);
    border-color: var(--color-primary-light);
}
.m-form .el-checkbox__input.is-checked+.el-checkbox__label{
    color: var(--color-primary);
}
.m-form .el-checkbox__input.is-checked .el-checkbox__inner,
.m-form .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.m-form .el-checkbox__inner:hover{
    border-color: var(--color-primary);
}
.pt-50{
    padding-top: 50px;
}
.el-main-content{
    min-width:740px;
}
.m-el-tipper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.g-order-main .el-table thead th{
  color: #000;
  background-color: #7ecef4;
}
.g-order-main .el-table td,
.g-order-main .el-table th{
    padding: 10px 0;
}
.g-order-main .el-table td.c-red,
.g-order-main .el-table th.c-red,
.g-order-main .el-table .el-table__row.c-red td{
    color: #d62e42;
}
.g-order-main .m-inner-box{
    margin-bottom: 25px;
}
.g-order-main .c-danger,
.g-order-main .c-danger:hover,
.g-order-main .c-danger:focus{
    color: #f56c6c;
}
.g-order-main .c-success,
.g-order-main .c-success:hover,
.g-order-main .c-success:focus{
    color: #67c23a;
}
.g-order-main .c-primary,
.g-order-main .c-primary:hover,
.g-order-main .c-primary:focus{
    color: #409eff;
}
.g-order-main .el-button--mini.minimum,
.g-order-main .el-button--mini.is-round.minimum {
    padding: 4px 6px;
}
.common-title{
    display: flex;
    width: 100%;
    text-align: center;
    margin: 25px auto;
}

.common-title i {
    flex: 1;
    position: relative;
    top: -10px;
    border-bottom: 1px solid #ccc;
}

.common-title .tit-txt {
    color: #666;
    padding: 0 20px;
    font-size: 14px;
    line-height: 20px;
}
.m-inside .el-badge__content.is-fixed{
    z-index: 5;
    top:9px;
}